/* BlogPage.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #80b0d8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

textarea {
  height: 150px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.btn{
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  left: 47%;
  top: 53%;
  
  
}
h1{
  text-align: center;
  text-shadow: #555;
  color: peru;
}

h2{
  text-align: center;
}
.title{
  text-align: center;
  color: crimson;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  
}
.content{
  text-align: center;
  color: rgb(153, 20, 220);
  font-style: italic;
  font-size: 20px;
}
